/* Place custom css here. */


.main style {
  margin-right: 1000px;
  margin-left: 100px;
}

/* .margin {
  min-width: 1000px;
} */

/* .article .post-single {
  width: 150%;
}

table {
  width: 150%
} */