{{ define "main" }}


<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
<!---->{{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<style>
  .boxed {
    border: 1px solid gray;
    padding: 17px;
    margin: 25px;
    border-radius: 25px;
    box-shadow: 2px 7px #888888;
    transition: transform 0.7s;
  }

  .boxed:hover {
    transform: scale(1.05) translateX(-50px);
    background-color: #ffe655;

  }

  .dark .boxed:hover {
    background-color: #fff9d6;
  }


  .post-tags a:hover {
    transform: scale(1.1)
  }
</style>



<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages }}

<div class="boxed">
  <article class="post-entry">
    <h2>{{ .Title }}</h2>
    <a href="{{ .Permalink }}"></a>
  </article>

  <!-- Post Tags -->
  {{ if .Params.tags }}
  <h2 class="post-tags">
    {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
    <a href="{{ $href }}">{{ . }}</a>
    {{ end }}
  </h2>
  {{ end }}

</div>
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="main-nav">
  {{ if $paginator.HasPrev }}
  <a class="prev" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}
  <!---->
  {{ if $paginator.HasNext }}
  <a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
  {{ end }}
</nav>
{{ end }}
<!---->

{{ end }}